body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}

html,body {
	margin:0;
	padding:0;
	font-size: 0.95em;
	color: #808080;
    line-height: 1.2;
}
img {
    max-width: 100%;
}

a {
    color: #dc0000;
    text-decoration: none;
}

a:hover {
    color: #666;
    text-decoration: underline;
}
h3 a {
    color: #666;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 { 
    margin: 0 0 5px 0;
}
h1 {
  font-size: 1.8em;  
}
h2 {
  font-size: 1.4em;  
}
h2.big {
  font-size: 1.8em;  
}
h3 {
  font-size: 1.1em;  
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
ol,ul {
	list-style:none;
}
hr.e6 {
    margin-top: 7px;
    margin-bottom: 7px;
    border-width: 1px 0px 0px;
    border-style: solid none none;
    border-color: #e6e6e6 -moz-use-text-color -moz-use-text-color;
}
#header, #footer, .container h2 {
    text-align: center;
}
#header, #footer {
    background: #428bca;
    position: relative;
    padding: 30px;
    color: #fff;
    margin: 10px 0 0 0;
}

.container h2 {
    padding: 1em;
}
.container .col-md-4 {
    padding: 0.7em;
}

#select-categories .room_name {
    padding: 0.8em;
    background: #000;
    color: #fff;
}

#query_status {
    margin: 10px 0;
    display: none;
}
#final_status {
    display: none;
}

